.moviesList {
	display: grid;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-template-rows: auto;
	gap: var(--grid-gap);
	list-style: none;
}

.notFound {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: .2;
}

@media screen and (max-width: 1320px) {
	.moviesList {
		grid-template-columns: repeat(4, minmax(200px, 1fr));
		gap: var(--grid-gap);
	}
}

@media screen and (max-width: 1100px) {
	.moviesList {
		grid-template-columns: repeat(3, minmax(150px, 1fr));
		gap: var(--grid-gap);
	}
}

@media screen and (max-width: 620px) {
	.moviesList {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
		gap: var(--grid-gap);
	}
}

@media screen and (max-width: 420px) {
	.moviesList {
		grid-template-columns: minmax(100px, 1fr);
		gap: var(--grid-gap);
	}
}