.moviesList {
	display: grid;
	grid-template-columns: repeat(5, minmax(200px, 1fr));
	grid-template-rows: auto;
	gap: var(--grid-gap);
	list-style: none;
}

.notFound {
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: .2;
}