.footages {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	grid-template-rows: minmax(100px, 300px);
	gap: 1rem;
}

.footage:nth-child(2n+3) {
	grid-row: span 2;
}

.footage {}

.footage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1100px) {
	.footages {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
		grid-template-rows: auto;
	}

	.footage:nth-child(2n+3) {
		grid-row: auto;
	}
}

@media screen and (max-width: 900px) {
	.footages {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		flex-wrap: nowrap;
	}

	.footage {
		display: block;
		flex: 0 0 45%;
		height: 200px;
	}
}

@media screen and (max-width: 570px) {
	.footages {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		flex-wrap: nowrap;
	}

	.footage {
		display: block;
		flex: 0 0 85%;
		height: 200px;
	}
}