.pagination {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.button {
	cursor: pointer;
	border: 2px solid var(--primary);
	font-size: 1rem;
	width: 40px;
	height: 40px;
	border-radius: var(--border-radius);
	background-color: transparent;
	color: var(--text);
}

.button:hover {
	border: 2px solid var(--primary-darker);
}

.button.active {
	background: var(--primary);
}