.item {
	text-decoration: none;
	color: var(--text);
}

.item:hover .poster img {
	transform: scale(1.06);
}

.movie {
	display: flex;
	flex-direction: column;
}

.poster {
	position: relative;
	height: 320px;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .2s linear;
}

.deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .6);
	border-bottom-left-radius: var(--border-radius);
	cursor: pointer;
	border: none;
}

.deleteButton::before,
.deleteButton::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 50%;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	opacity: .8;
}

.deleteButton::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.deleteButton::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.deleteButton:hover::before,
.deleteButton:hover::after {
	opacity: 1;
}

.title {
	width: 100%;
	font-size: 1rem;
	margin-top: .5rem;
	margin-bottom: .25rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.rating {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 0.85rem;
}

.rating span {
	opacity: .5;
}

.ratingIcon {
	width: 15px;
	fill: var(--primary)
}

.about {
	height: 50%;
	background-color: #000;
}