.select {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	background-color: var(--background);
	color: var(--text);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: var(--border-radius);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 30px 0 .75rem;
	display: flex;
	align-items: center;
}

.selectWrapper {
	position: relative;
}

.selectWrapper::before {
	content: '';
	position: absolute;
	top: 46%;
	right: 10px;
	z-index: 1;
	transform: translateY(-50%) rotate(45deg);
	border: solid var(--primary);
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	width: 2px;
	height: 2px;
	pointer-events: none;
}