/* -Variables- */

:root {
	--container-width: 1416px;
	--container-padding: 10px;
	--border-radius: .65rem;
	--main-padding: 2.5rem;
}

/* Light theme variables */
:root.light {
	--background: #f6f6f6;
	--background-secondary: #ececec;
	--primary: #2196f3;
	--primary-darker: #1e87db;
	--text: #1f2937;
	--footer-border: #ececec;
	--scrollbar: #8b8b8b;
}

/* Dark theme variables */
:root.dark {
	--background: #111111;
	--background-secondary: #333333;
	--primary: #8a21f3;
	--primary-darker: #7c1edb;
	--text: #ececec;
	--footer-border: #1d1d1d;
	--scrollbar: #818181;
}

/* Fonts */

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/NunitoRegular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/NunitoBold.ttf');
	font-weight: bold;
}

/* General styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	background: var(--background);
	color: var(--text);
	transition: all .1s linear;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar);
	border-radius: .25rem;
}