/* Variables */

:root {
	/* Colors */

	/* Light theme */
	--light-bg: #ffffff;
	--light-secondary-bg: #f6f6f6;
	--light-primary: #2196f3;
	--light-text: #000000;

	/* Dark theme */
	--dark-bg: #111111;
	--dark-secondary-bg: #333333;
	--dark-primary: #8a21f3;
	--dark-text: #ffffff;
}

/* Fonts */

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/NunitoRegular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/NunitoBold.ttf');
	font-weight: bold;
}

/* General styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}