.radioButtons {
	display: flex;
}

.button {
	position: relative;
	background-color: var(--primary);
	color: #ececec;
	padding: .5rem 1rem;
	cursor: pointer;
	overflow: hidden;
	display: flex;
}

.button::before {
	content: '';
	height: 2px;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: var(--border-radius);
	border-bottom: 1px solid var(--text);
	transition: width .1s linear;
}

.button:hover::before {
	width: 100%;
}

.button:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.button:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.button.active {
	background: var(--primary-darker);
}

.buttonInput {
	appearance: none;
}

@media screen and (max-width: 620px) {
	.button {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.button::before {
		display: none;
	}
}