.errorPage {
	margin: 10rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.emoji {
	font-size: 4rem;
}

.errorText {
	text-align: center;
	margin: 1.5rem 0;
}

.backLink {
	position: relative;
	text-decoration: none;
	border: 2px solid var(--primary);
	color: var(--text);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	transition: color .1s linear;
}

.backLink::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: var(--primary);
	z-index: -1;
	transition: height .1s ease-in-out;
}

.backLink:hover.backLink::before {
	height: 100%;
}

.backLink:hover {
	color: #ececec;
}